body{
    font-family: 'Times New Roman', Times, serif;
}

.heading{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

.index{
    /* background: linear-gradient(to bottom right, lavenderblush, cornflowerblue); */
    background-size: cover;
    background-image: url("../images/indexbackground.jpg");
}

.nonfiction{
    /* background: linear-gradient(to bottom right, antiquewhite, blanchedalmond); */
    background-image: url("../images/nonfictionbackground.jpg");
    background-size: cover;
}

.romance{
    background-image: url("../images/romancebackground.jpg");
    /* background-repeat: no-repeat; */
    background-size:cover;
}

.classics{
    background-image: url("../images/classicsbackground.jpg");
    background-size:auto;
}

.fantasy{
    background-image: url("../images/fantasybackground3.jpg");
    background-size: cover;
}

nav{
    position: relative;
    left: -10px;
    width: 100vw;
    margin: 0px;
    background-color: antiquewhite;
}

nav ul{
    list-style-type: none;
    padding-left: 20px;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 0.5em 0.75em;
}

nav ul li a:hover{
    background-color:lemonchiffon;
    text-decoration: underline;
}

/* sub menu */ 
nav ul li ul{
    list-style-type: none;
    display: none;
    visibility: hidden;
    padding: 0px;
    width: 150px;
    position: absolute;
    text-align: left;
    background-color: floralwhite;
}

nav ul li:hover ul{
    display: block;
    visibility: visible;
    text-decoration: underline;
}

footer{
    text-align: center;
    position: relative;
    left: -10px;
    width: 100vw;
    margin: 0px;
    background-color: antiquewhite;
    padding: 7px;

}




