.table{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-style:solid;
    border-width: 2px;
    border-color: black;
    border-collapse: collapse;
}

td,th{
    padding: 0.25em;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
}